@model List<MicroserviceECommerce.MVCUI.Models.CustomerModel_>

<div class="container">
  @Html.ActionLink("Add Customer","AddCustomer","Customer", new {@class="btn btn-primary"})
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Contact Name</th>
                    <th scope="col">Contact Title</th>
                    <th scope="col">Phone</th>
                    <th scope="col">City</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@item.CompanyName</th>
                    <td>@item.ContactName</td>
                    <td>@item.ContactTitle</td>
                    <td>@item.Phone</td>
                    <td>@item.City</td>
                    <td>@item.Country</td>
                    <td>@Html.ActionLink("Details", "CustomerDetails", "Customer", new { id = item.CustomerID }, null)</td>
                    <td>@Html.ActionLink("Delete", "DeleteCustomer", "Customer", new { id = item.CustomerID }, null)</td>
                </tr>
                }
                </tbody>
        </table>
</div>